# Core Streamlit
streamlit==1.28.0

# ML Libraries (Render Free Tier optimiert)
tensorflow-cpu==2.11.0
scikit-learn==1.2.2
numpy==1.23.5
pandas==1.5.3

# Plotting
plotly==5.13.0

# Fix dependencies
protobuf==3.19.6